# SPDX-FileCopyrightText: 2025 German Aerospace Center
#
# SPDX-License-Identifier: CC0-1.0

# Build artifacts
dist/
build/
*.egg-info/

# Ignore Python specific temporarily created files
# Byte-compiled / optimized / DLL files
__pycache__/
venv/
*.py[cod]
*$py.class
# Ignore automatically created files by Jetbrains as PyCharm, IntelliJ
.idea/
# Ignore automatically created files by pytest-cov when you run tests with coverage enabled.
.coverage
# Ignore everything in the inputs directory
inputs/**
# Allow tracking of CSV files and .license files in the inputs directory and subdirectories
!inputs/**/*.csv
!inputs/**/*.license


# Ignore everything in the outputs folder
outputs/*
outputs2/
examples/minimal_example/outputs/
examples/minimal_example_powertrain_survival/outputs/

# Generated paper artifacts
paper/paper.pdf
